<nav class="navbar navbar-expand-sm bg-dark navbar-dark px-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="../index.php">Cómputo en la nube</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../index.php"><i class="bi bi-house-door-fill"></i> Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><i class="bi bi-clipboard2-data-fill"></i> Estudio</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="estado.php">Estado del arte</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="encuesta.php">Sondeo</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="servicios.php">Exploración de servicios</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><i class="bi bi-person-video3"></i> Exposiciones</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="tema1.php">hoja de calculo</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="tema2.php">Cloud Filestore</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>