<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cómputo en la nube</title>
    
    <?php
        include "partials/head.php"
    ?>

</head>
<body>
    <?php
        include "partials/navbar.php"
    ?>

    <div class="container mt-5 estado-arte text-light">
        <h1>Estado del arte </h1>
        <h3>Cómputo en la nube según los autores</h3>
    </div>
    
    
    <div class="container py-4 px-5 my-5 bg-dark text-white definiciones-computo">
        <p>
            <i class="bi bi-quote"></i> El cómputo en la nube es un modelo para crear acceso conveniente,
            ubicuo y bajo demanda, vía internet, a un conjunto compartido de
            recursos de cómputo configurables (por ejemplo, redes, servidores,
            almacenamiento, aplicaciones y servicios), los cuales pueden ser
            rápidamente asignados y provistos con un mínimo de gestión
            administrativa e interacción con el proveedor. <i class="bi bi-quote q2"></i> 
        </p>
        <p>
            (atlassian).
    </div>

    <div class="container py-4 px-5 my-5 bg-dark text-white definiciones-computo">
        <p>
            <i class="bi bi-quote"></i> Se entiende al cómputo en la nube como una arquitectura
            de red mediante la cual, datos o aplicaciones se encuentran en servidores propiedad
            de un tercero (prestador), y a los cuales personas físicas o morales (clientes) que lo
            tienen contratado, pueden acceder a los mismos de manera remota a través de
            cualquier dispositivo con conexión a Internet. <i class="bi bi-quote q2"></i> 
        </p>
        <p>
            (rockcontent).
        </p>
    </div>

    <div class="container py-4 px-5 my-5 bg-dark text-white definiciones-computo">
        <p>
            <i class="bi bi-quote"></i> El Cómputo en la Nube es la convergencia y evolución de varios 
            conceptos relacionados con las tecnologías de la información, como son la virtualización,
            el cómputo móvil, el diseño de aplicaciones distribuidas o el diseño de redes, así como la 
            gestión y suministro de aplicaciones, información y datos como un servicio. <i class="bi bi-quote q2"></i> 
        </p>
        <p>
            (Oracle,2009).
        </p>
    </div>

    <div class="container py-4 px-5 my-5 bg-primary text-white referencias-computo">
        <h1>Referencias</h1>
        <p>www.atlassian.com (2017)<a href="http://csrc.nist.gov/publications/nistpubs/800-145/SP800-145.pdf">NIST</a></p>
        <p>www.rockcontent.com. (2020).</p>
        <p>Oracle Corporation. (2009). </p>
    </div>

    <?php
        include "partials/footer.php"
    ?>
</body>
</html>