<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cómputo en la nube</title>

    <?php
        include "partials/head.php"
    ?>

</head>
<body>
    <?php
        include "partials/navbar.php"
    ?>

    <div class="container my-5 servicios text-light">
        <h1>Exploración de los servicios de un provedor</h1>
    </div>

    <div class="container p-4 my-5 bg-dark text-white lista-gsuit">
        <h3>Google Workspace (anteriormente, G Suite)</h3>
        
    </div>

    <div class="container p-4 my-5 bg-primary text-white lista-gsuit">
        <h3>Google Cloud</h3>
        
    </div>
    
    <?php
        include "partials/footer.php"
    ?>
</body>
</html>