<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cómputo en la nube</title>

    <?php
        include "partials/head.php"
    ?>
</head>
<body>

    <?php
        include "partials/navbar.php"
    ?>

    <div class="container py-4 px-5 my-5 bg-dark text-white tema-documentos">
        <h1>Cloud Filestore</h1>
        <p> 
        es un servicio de almacenamiento de archivos gestionado 
        para aplicaciones que requieren una interfaz de sistema de archivos y un sistema 
        de archivos compartido para los datos. El monitoreo de Google Cloud Platform 
        (GCP) Filestore le permite garantizar la salud y la disponibilidad de las instancias, 
        solucionar los errores rápidamente y ofrecer un alto rendimiento.
        </p>
        <a href="../public/documents/descarga-tema2.php" class="btn btn-primary">Descargar</a>
    </div>

    <footer class="footer-tema1 bg-dark">
        <p>Marco Molina</p>
        <p>6°B</p>
        <p>31 de Marzo de 2022</p>
    </footer>
</body>
</html>