<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cómputo en la nube</title>

    <?php
        include "partials/head.php"
    ?>
</head>
<body>

    <?php
        include "partials/navbar.php"
    ?>

    <div class="container py-4 px-5 my-5 bg-dark text-white tema-documentos">
        <h1>hoja de calculo</h1>
        <p> 
        programa de hoja de cálculo que forma parte del paquete 
        gratuito de herramientas ofimáticas basado en la web que ofrece Google. La 
        aplicación es compatible con los formatos de archivo de Microsoft Excel. La 
        aplicación permite a los usuarios crear y editar archivos en línea mientras colaboran 
        con otros usuarios en tiempo real
        </p>
        <a href="../public/documents/descarga-tema1.php" class="btn btn-primary">Descargar</a>
    </div>

    <footer class="footer-tema1 bg-dark">
        <p>Marco Molina</p>
        <p>6°B</p>
        <p>31 de Marzo de 2022</p>
    </footer>
</body>
</html>